@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

.box {
    background-color: red;
    padding: 10px;
    text-align: center;
}

.bg-red {
    background-color: red;
}

.p-10 {
    padding: 10px;
}

.text-center {
    text-align: center;
}